@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mountains+of+Christmas:wght@700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', cursive;
    color: whitesmoke;
}

#wallpaper {
    background-image: url("./img/christmas-wallpaper.jpg");
    background-size: cover;
}

#boxContainer {
    background-image: url("./img/christmas.jpeg");
    background-size: cover;
}

.boxes {
    width: 15vw;
}

#speaker {
    background-image: url("./img/sound-off.png");
    background-size: cover;
	height: 30px;
	width: 30px;
	position: absolute;
    top: 7vh;
    right: 15vw;
	overflow: hidden;
	display: inline-block;
}
