@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mountains+of+Christmas:wght@700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', cursive;
    color: whitesmoke;
}

#wallpaper {
    background-image: url("./img/christmas-wallpaper.jpg");
    background-size: cover;
}

#boxContainer {
    background-image: url("./img/christmas.jpeg");
    background-size: cover;
}

#speaker {
    background-size: cover;
    background-image: url('./img/sound-off.png');
	height: 30px;
	width: 30px;
	position: absolute;
    top: 4vh;
    right: 10vw;
	overflow: hidden;
	display: inline-block;
}

#hint {
    color:#dc3545;
}

.boxes {
    width: 15vw;
}

#popup {
    background-color: #dc3545;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid whitesmoke;
    display: flex;
}

/*
#quit {
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: right;
}
*/

#boxtext {
    display: block;
}